.container {
    display: flex;
    flex-direction: column;
} 

header {
    height: 100px;
    background-color: lightskyblue;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin: 40px;
}

nav p {
    margin: 8px;
    padding: 8px;
    font-size: 25px;
}

section {
    display: flex;
    justify-content: center;
}

section {
    align-content: space-evenly;
}

img {
    margin: 100px;
    padding: 10px;
    border: 1px yellowgreen solid;
    border-radius: 5px;
}
