.container {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
} 

header {
    height: 100px;
    background-color: lightskyblue;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin: 40px;
}

nav p {
    margin: 8px;
    padding: 8px;
    font-size: 25px;
}

