body {
    margin: 2px;
}

.container {
    display: flex;
    flex-direction: column;
} 

header {
    height: 65px;
    background-color: lightpink;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin: 30px;
}

nav a {
    margin: 8px 8px 0 8px;
    padding-top: 2px;
    font-size: 20px;
}

#about-me {
    display: flex;
    flex-direction: column;    
    align-items: center;
    background-color: lightslategray;
}

#my-image { /*(223px x 240px)*/
    display: flex;
    align-items: center;
    margin: 100px 0 10px;
    padding: 2px;
    border: 1px yellowgreen solid;
    border-radius: 3px;
}

#name {
    font-family: cursive, sans-serif,Arial, Helvetica, sans-serif;
    }

h2:hover {
    color: lightskyblue;
}

#job {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

content {
    display: flex;
    margin: 5px;
    padding: 5px;
    justify-content: center;
}

#about {
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    letter-spacing: .2em;
}
article {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

#about-one {
    margin: 0 24px 0 0;
    padding: 0 8px 0 0;
}

#about-two {
    margin: 0 24px 0 0;
    padding: 0 4px 0 0;
}

article p {
    width: 350px;
    text-align: justify;
}





@media screen and (max-width: 699px) and (min-width: 400px) {
    content {
        flex-direction: column;
    }
}

@media screen and (max-width: 699px) and (min-width: 1080px) {
    #about-one {
        margin: 0 2px 0 0;
        padding: 0 0 0 0;
    }
    #about-two {
        margin: 0 2px 0 0;
        padding: 0 0 0 0;
    }
    article p {
        width: 370px;
    }
}
